<form>
	<input type = 'button' onclick = 'httpreq()' value = 'make a request with the text besides'>
	<input type = 'text' id = 'username'>
</form> 
<script type="text/javascript">
var textEle = document.getElementById('username');
var httpreq = function(){

	var req = new XMLHttpRequest();
	req.open("POST", 'http://127.0.0.1:8081/erl/hello_world/service122', true);
	req.onload = function (res){ 
		if(req.readyState === 4) {
			console.log(req.responseText);
		}
	};
	var json = {
		data : textEle.value +" fuer service 122",
		date : new Date()

	};

	req.send(JSON.stringify(json));

	//setTimeout(1000, httpreq());
};
</script>